
  <div class="sidebar">
    <div class="centered-container">
      <div class="logo">
        <img src="../../../../assets/images/app-logo.png" alt=""
          class="logo-image">
        <span class="logo-text">CAREERVILLA</span>
      </div>
    </div>
    <mat-nav-list>
      <a mat-list-item class="custom-list-item" routerLink="/dashboard"><span class="options">Dashboard</span></a>
      <a mat-list-item class="custom-list-item" routerLink="/jobseekers"><span class="options">Jobseekers</span></a>
      <a mat-list-item class="custom-list-item" routerLink="/employers"><span class="options">Employers</span></a>
      <a mat-list-item class="custom-list-item" routerLink="/reported-jobs"><span class="options">Reported
          Jobs</span></a>
      <a mat-list-item class="custom-list-item" routerLink="/subscription-plans"><span class="options">Subscription
          Plans</span></a>
    </mat-nav-list>
    <mat-card-actions>
      <button mat-raised-button class="mat-large-fab1">LOGOUT</button>
    </mat-card-actions>
  </div>
  <router-outlet></router-outlet>
