.centered-content {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #644DFF;
    border-radius: 0.5em;
    height: 50px;
}

.title{
    font-size:x-large;
    font-weight: 600;
}

.center-card{
    width: 450px;
    margin: 0px 24px auto;
    border:1px solid white;
}

.mat-form{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 435px;
}

@media screen and (max-width:600px){
    .mat-form{
        width:100%
    }
    .center-card{
        width: 100%;
    }
}