.sign-up{
    display: flex;
    margin:auto;
    margin: 40px;
}

mat-card{
    margin-left: 100px;
    margin-top: 40px;
    box-shadow: none;
    align-items: center;
}

mat-card-actions button.mat-large-fab1 {
    width: 300px;
    font-size: 18px;
    padding: 15px 30px;
    background-color: #644DFF;
    color: white;
    border-radius: 0.5em;
  }

  mat-card-content{
    margin-top: 10px;
  }

  mat-form-field{
    width: 300px;
  }
  
  a{
    text-decoration: none;
  }

  .login{
    color: #644DFF;
    margin-left: 4px;
  }

  .sign-in{
    display:flex;
    height:5px;
    margin-left:20px;
  }

  