.main-div {
    display: flex;
    background-image: linear-gradient(to right, #010313, #011836);
    height: 100vh; /* Adjust height as needed */
  }

  .mat-elevation-z8{
    width: 1150px;
    height: 100%;
    background-color: #010e1f;
    margin-left: 50px;
  }

  mat-header-cell,mat-cell{
    height: 5em;
    border-color: rgb(72, 71, 71);
    color: rgb(187, 187, 187);
    justify-content: center;
  }

  @media screen and (max-width: 600px) {
    .mat-elevation-z8,
    mat-header-cell,
    mat-cell {
      width: -20%;
      height: 10%;
      font-size: xx-small;
      white-space: normal; /* Allow text wrapping for small screens */
    }
  }