@media (max-width: 430px) {
    .logo-text {
      font-size: smaller;
    }
  }
  
  @media (max-width: 430px) {
    .logo-image {
      width: 10%;
    }
  }

  mat-toolbar{
    background-color: white;
}

.logo-text{
    font-weight: 800;
}