<app-employer-nav></app-employer-nav>
<div class="login-page">
    <app-employer-login-layout></app-employer-login-layout>
    <mat-card>
        <mat-card-title>
          Employer Login
        </mat-card-title>
        <mat-card-content>
          <div class="rounded-input">
            <mat-form-field appearance="outline">
              <mat-label>Email ID</mat-label>
              <input matInput class="mat-Input" placeholder="" required>
            </mat-form-field>
          </div>
          <div class="rounded-input">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput class="mat-Input" placeholder="" required>
            </mat-form-field>
          </div>
          <a routerLink="/employer/forgot-otp" ><p class="forgot-password">Forgot Password?</p></a>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button class="mat-large-fab1">LOGIN</button>
        </mat-card-actions>
        <mat-card-actions>
          <button mat-raised-button class="mat-large-fab2">
            <div class="button-content">
              <img src="../../../../assets/images/google-logo.jpg" alt="Google Logo"
                class="google-logo">
              <span>SIGN IN WITH GOOGLE</span>
            </div>
          </button>
        </mat-card-actions>
    </mat-card>
    <div class="sign-up">
        <span>New to CARRERVILLA?</span>
        <a routerLink="/employer/signup" ><p class="register">Register</p></a>
    </div>
</div>
<app-employer-login-footer></app-employer-login-footer>