.container {
    display: flex;
    margin-top: 2%;
    justify-content: center;
  }

  mat-card-title{
    font-size:24px;
  }

  .notification-card{
    width: 60%;
    border-radius: 1em;
    margin-bottom: 30px;
    border: 1px solid #ccc;
  }

  .notification {
    display: flex; 
    align-items: center; 
    cursor: pointer;
}

.icon {
    margin-right: 20px;
}

mat-icon{
  background-color: #ececec;
  border-radius: 1em;
}

.details {
    flex-grow: 0; 
}

.notifications{
  height: 490px;
  overflow-y:auto;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
}


@media screen and (max-width:800px){
  .notification-card{
    width: 95%;
  }
}