<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
  <mat-card-title>
    <ng-container *ngIf="data.editMode; else addCompanyTitle">
      Edit Company
      <mat-divider></mat-divider>
      <br>
    </ng-container>
    <ng-template #addCompanyTitle>
      Add Company
      <mat-divider></mat-divider>
      <br>
    </ng-template>
  </mat-card-title>

  <div class="form-container">
    <mat-form-field class="input-field" appearance="outline">
      <mat-label>Company Name</mat-label>
      <input matInput placeholder="" formControlName="companyName">
    </mat-form-field>
    <mat-form-field class="input-field" appearance="outline">
      <mat-label>Website</mat-label>
      <input matInput placeholder="" formControlName="website">
    </mat-form-field>
    <mat-form-field class="input-field" appearance="outline">
      <mat-label>Company Size</mat-label>
      <input matInput placeholder="" formControlName="companySize">
    </mat-form-field>
  </div>

  <div class="form-container">
    <mat-form-field class="input-field" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="" formControlName="email">
    </mat-form-field>
    <mat-form-field class="input-field" appearance="outline">
      <mat-label>Industry</mat-label>
      <input matInput placeholder="" formControlName="industry">
    </mat-form-field>
    <mat-form-field class="input-field" appearance="outline">
      <mat-label>Founded Year</mat-label>
      <input matInput placeholder="" formControlName="foundedYear">
    </mat-form-field>
  </div>

  <div class="form-container">
    <mat-form-field class="input-field" appearance="outline">
      <mat-label>Company Description</mat-label>
      <textarea matInput placeholder="" formControlName="description"></textarea>
    </mat-form-field>
  </div>

  <div class="form-container">
    <mat-form-field class="input-field" appearance="outline">
      <mat-label>Address</mat-label>
      <textarea matInput placeholder="" formControlName="address"></textarea>
    </mat-form-field>
  </div>

  <div class="form-container">
    <mat-form-field class="input-field" appearance="outline">
      <mat-label>country</mat-label>
      <mat-select placeholder="" (selectionChange)="onCountryChange($event)" formControlName="country">
        <mat-option *ngFor="let country of countries" [value]="country">
          {{ country }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="input-field" appearance="outline">
      <mat-label>State</mat-label>
      <mat-select placeholder="" (selectionChange)="onStateChange(selectedCountry,$event)" formControlName="state">
        <mat-option *ngFor="let state of states" [value]="state">
          {{ state }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="input-field" appearance="outline">
      <mat-label>City</mat-label>
      <mat-select placeholder="" formControlName="city">
        <mat-option *ngFor="let city of cities" [value]="city">
          {{ city }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxLayoutAlign="center" style="text-align: center;">
    <button mat-fab extended>Continue</button>
  </div>
</form>