.container {
    display: flex;
    margin-top: 3%;
    justify-content: center;
  }

  mat-card-title{
    font-size:23px;
  }

  .notification-card{
    width: 60%;
    height: 580px;
    border-radius: 1em;
    margin-bottom: 30px;
    border: 1px solid #ccc;
  }