.mat-large-fab2 {
    width:300px;
    font-size: 14px; /* Adjust the font size as needed */
    padding: 15px 30px; /* Adjust the padding as needed */
    border-radius: 0.5em;
  }

  .google-logo {
    width: 20px; 
    height: auto;
    border-radius: 50%;
    margin-right: 8px; 
  }

  .button-content{
    display: flex;
  }