<app-employer-nav></app-employer-nav>

<mat-card class="announce-card">
  <h1 class="h1">Choose your right plan!</h1>
  <span class="span1">Select from the best plans, ensuring a perfect match. Need more or less? Customize your subscription for a seamless fit!</span>
</mat-card>

<div fxLayout="row" fxLayoutAlign="space-between" class="subscription-cards">

  <mat-card class="subscription-card">
   <button mat-fab extended>Basic</button>
   <span class="span2">Get immediate access to our premium job posting features with our 1-month subscription plan.</span>
  </mat-card>

  <mat-card class="subscription-card">
   
  </mat-card>

  <mat-card class="subscription-card">
    
  </mat-card>

</div>

<app-employer-footer></app-employer-footer>