<app-jobseeker-nav></app-jobseeker-nav>
<div class="forgot-password">
    <app-jobseeker-login-layout></app-jobseeker-login-layout>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-title>
          Set New Password
        </mat-card-title>
        <mat-card-content>
          <div class="rounded-input">
            <mat-form-field appearance="outline">
              <mat-label>New Password</mat-label>
              <input matInput class="mat-Input" placeholder="" formControlName="newPassword" type="password">
            </mat-form-field>
          </div>
          <div class="rounded-input">
            <mat-form-field appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input matInput class="mat-Input" placeholder="" formControlName="confirmPassword" type="password">
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button class="mat-large-fab1" type="submit">SUBMIT</button>
        </mat-card-actions>
    </mat-card>
  </form>
    <div class="sign-up">
        <span>New to CARRERVILLA?</span>
        <a routerLink="/jobseeker/signup" ><p class="register">Register</p></a>
    </div>
</div>
<app-jobseeker-login-footer></app-jobseeker-login-footer>