.search-bar-card {
    width: 100%;
    padding: 20px;
    box-shadow:none ;
    margin-top: 20px;
    box-sizing: border-box;
  }
  
  .search-criteria {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center;
    text-align: center;
  }
  
  .search-field {
    margin-right: 10px;
    width: 400px;
  }
  
  button.search-button {
    background-color: #644DFF;
    color: white;
    border-radius: 0.5em;
    width:8%;
    height: 55px;
    display: flex;
    font-size: 16px; 
    margin-top: -22px;
    padding: 25px 40px;
  }

  .container {
    display: flex;
    margin-left: 14%;
    margin-top: 1%; /* Adjust margin from the left side */
  }
  
  .job-list {
    width: 40%;
    /* Additional styling for the job list */
  }

  .job-list2 {
    width: 40%;
    margin-left:2%;
    /* Additional styling for the job list */
  }

  .job-card{
    margin-bottom: 30px;
    border: 1px solid #ccc;
  }

  .truncate-text {
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  mat-card-actions button.mat-button{
    background-color: rgb(237, 236, 236);
    margin-left: 1%;
  }

  mat-card-actions button.apply-button{
    background-color: #644DFF;
    color: white;
    margin-left: 1.5%;
  }

  mat-card-actions button.save-button{
    margin-left: 3%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .icon-wrapper {
    font-size: 60px; 
}

.selected-job{
  border: 1px solid #ccc;
  background-color: #f5f2ff;
}

.subtitle {
  display: flex;
  align-items: center;
  margin-top: 10%;
}

.icon {
  margin-right: 8px; 
  width: 24px; 
}

p{
  margin-top: 3%;
}

.small-text {
  margin-top: 3%;
  font-size: 15px; 
}

.mat-button{
  background-color: rgb(238, 238, 238);
}

  @media screen and (max-width:600px){
    .search-field{
        width: 150px;
    }
    .container{
      margin-left: 0;
      margin: 10px;
    }
    .job-list {
      width: 100%; 
    }
    
    .job-list2 {
      display: none; 
    }


  }