<app-jobseeker-nav></app-jobseeker-nav>

<mat-card class="search-bar-card">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" class="search-criteria">
        <mat-form-field class="search-field" appearance="outline">
            <mat-label>Company Name/Job Title</mat-label>
            <input matInput placeholder="">
            <mat-icon matSuffix *ngIf="!(isSmallScreen | async)">search</mat-icon>
        </mat-form-field>

        <mat-form-field class="search-field" appearance="outline">
            <mat-label>Location</mat-label>
            <input matInput placeholder="">
            <mat-icon matSuffix *ngIf="!(isSmallScreen | async)">place</mat-icon>
        </mat-form-field>
        <button mat-raised-button class="search-button">Search</button>
    </div>
    <mat-divider></mat-divider>
</mat-card>

<div class="container">
    <div class="job-list">
        <mat-card>
            <mat-card-header>
                <mat-card-title></mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
        </mat-card>
    </div>
    <div class="job-list2">
        <mat-card>
            <mat-card-header>
                <mat-card-title></mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
        </mat-card>
    </div>
</div>