<app-jobseeker-nav></app-jobseeker-nav>
<div class="otp-page">
    <app-jobseeker-login-layout></app-jobseeker-login-layout>
    <mat-card>
        <mat-card-title>
          Enter OTP
        </mat-card-title>
        <mat-card-content>
          <div class="rounded-input">
            <mat-form-field appearance="outline">
              <mat-label>Enter OTP</mat-label>
              <input matInput class="mat-Input" placeholder="">
            </mat-form-field>
          </div>
          <a routerLink="" ><p class="resend-otp">Resend OTP?</p></a>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button class="mat-large-fab1">SUBMIT</button>
        </mat-card-actions>
    </mat-card>
    <div class="sign-up">
        <span>New to CARRERVILLA?</span>
        <a routerLink="/jobseeker/signup" ><p class="register">Register</p></a>
    </div>
</div>
<app-jobseeker-login-footer></app-jobseeker-login-footer>