<app-jobseeker-nav></app-jobseeker-nav>
<div class="otp-page">
    <app-jobseeker-login-layout></app-jobseeker-login-layout>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-title>
          Enter OTP
        </mat-card-title>
        <mat-card-content>
          <div class="rounded-input">
            <mat-form-field appearance="outline">
              <mat-label>Enter OTP</mat-label>
              <input matInput class="mat-Input" placeholder="" formControlName="otp" required>
            </mat-form-field>
          </div>
          <div class="otp-container">
            <p class="otp-timer" [ngStyle]="{'color': otpTimer === 0 ? 'red' : 'black'}">
              Time left: {{ otpTimer === 0 ? 'Time expired' : otpTimer + ' seconds' }}
            </p>
            <a (click)="resendOTP()" class="resend-otp" style="cursor: pointer;">Resend OTP?</a>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button class="mat-large-fab1" type="submit">SUBMIT</button>
        </mat-card-actions>
    </mat-card>
  </form>
    <div class="sign-up">
        <span>New to CARRERVILLA?</span>
        <a routerLink="/jobseeker/signup" ><p class="register">Register</p></a>
    </div>
</div>
<app-jobseeker-login-footer></app-jobseeker-login-footer>