<app-employer-nav></app-employer-nav>
<mat-card class="profile-card">
    <mat-card-header>
        <div class="left-content">
            <div class="name">
                <mat-card-title class="username">{{userData.firstName}} {{userData.lastName}}</mat-card-title>
            </div>
            <div class="details">

                <mat-card-subtitle><mat-icon>mail</mat-icon>{{userData.email}}</mat-card-subtitle>
                <mat-card-subtitle><mat-icon>phone</mat-icon>{{userData.phoneNumber}}</mat-card-subtitle>
                <mat-card-subtitle><mat-icon>place</mat-icon>{{userData.location}}</mat-card-subtitle>
            </div>
        </div>
        <div class="right-content">
            <input type="file" accept="image/*" #fileInput style="display: none;" (change)="onFileSelected($event)">
            <label class="avatar-container" (click)="openFileInput(fileInput)">
                <img src={{userData.image}} alt="" mat-card-avatar class="example-header-image">
                <mat-icon class="camera-icon">camera_alt</mat-icon>
            </label>
        </div>
    </mat-card-header>
    <br>
    <mat-card-content>
        <mat-card-title class="professionalDetails">Professional Details</mat-card-title>
        <mat-divider style="background-color: rgb(211, 211, 211);"></mat-divider>
        <div class="professional-details">
          <div class="detail-item">
            <div class="detail-label">Company Name:</div>
            <div class="detail-value"></div>
          </div>
          <div class="detail-item">
            <div class="detail-label">Website:</div>
            <div class="detail-value"></div>
          </div>
          <div class="detail-item">
            <div class="detail-label">Company Size:</div>
            <div class="detail-value"></div>
          </div>
          <div class="detail-item">
            <div class="detail-label">Industry:</div>
            <div class="detail-value"></div>
          </div>
          <div class="detail-item">
            <div class="detail-label">Email:</div>
            <div class="detail-value"></div>
          </div>
          <div class="detail-item">
            <div class="detail-label">Founded Year:</div>
            <div class="detail-value"></div>
          </div>
          <!-- Add more fields as needed -->
        </div>
      </mat-card-content>
</mat-card>
<br>