<app-employer-nav></app-employer-nav>
<mat-card class="profile-card">
  <mat-card-header>
    <div class="left-content">
      <div class="name">
        <mat-card-title class="username">{{userData.firstName}} {{userData.lastName}}</mat-card-title>
      </div>
      <div class="details">

        <mat-card-subtitle><mat-icon>mail</mat-icon>{{userData.email}}</mat-card-subtitle>
        <mat-card-subtitle><mat-icon>phone</mat-icon>{{userData.phoneNumber}}</mat-card-subtitle>
        <mat-card-subtitle><mat-icon>place</mat-icon>{{userData.location}}</mat-card-subtitle>
      </div>
    </div>
    <div class="right-content">
      <input type="file" accept="image/*" #fileInput style="display: none;" (change)="onFileSelected($event)">
      <label class="avatar-container" (click)="openFileInput(fileInput)">
        <img src={{userData.image}} alt="" mat-card-avatar class="example-header-image" *ngIf="userData.image">
        <img src="../../../../assets/images/user-default-profile-pic.jpg" alt="" mat-card-avatar
          class="example-header-image" *ngIf="!userData.image">
        <mat-icon class="camera-icon">camera_alt</mat-icon>
      </label>
    </div>
  </mat-card-header>
  <br>
  <div style="text-align: center;">
    <br>
    <button mat-raised-button *ngIf="userData.isSubscribed" (click)="getPlanDetails()"
      style="background-color: #644DFF; color: white; width: 90%;">See Plan Details</button>
  </div>
  <div style="text-align: center;">
    <br>
    <button mat-raised-button *ngIf="!userData.companyId" style="background-color: #644DFF; color: white; width: 90%;"
      (click)="onAddCompany()">Add
      Company
    </button>
  </div>
  <div class="employer-profile" *ngIf="userData.companyId">
    <div class="details-section">
      <mat-card-content>
        <h3 class="professional-details-title">Company Details</h3>
        <mat-divider style="background-color: rgb(211, 211, 211);"></mat-divider>
        <br>
        <ul class="employer-details-list">
          <li class="detail-item">
            <span class="detail-label">Company Name </span>
            <mat-card-subtitle class="detail-value"> {{userData.companyId.companyName}}</mat-card-subtitle>
          </li>
          <li class="detail-item">
            <span class="detail-label">Website </span>
            <mat-card-subtitle><a class="detail-value" href="https://{{userData.companyId.website}}"
                target="_blank">{{userData.companyId.website}}</a> </mat-card-subtitle>
          </li>
          <li class="detail-item">
            <span class="detail-label">Company Size </span>
            <mat-card-subtitle class="detail-value">{{userData.companyId.companySize}}</mat-card-subtitle>
          </li>
          <li class="detail-item">
            <span class="detail-label">Industry </span>
            <mat-card-subtitle class="detail-value">{{userData.companyId.industry}}</mat-card-subtitle>
          </li>
          <li class="detail-item">
            <span class="detail-label">Email </span>
            <mat-card-subtitle><a class="detail-value" href="mailto:">{{userData.companyId.email}}</a>
            </mat-card-subtitle>
          </li>
          <li class="detail-item">
            <span class="detail-label">Founded Year </span>
            <mat-card-subtitle class="detail-value">{{userData.companyId.foundedYear}}</mat-card-subtitle>
          </li>
          <li class="detail-item">
            <span class="detail-label">Address </span>
            <mat-card-subtitle class="detail-value">{{companyDetails.addressId?.address}}</mat-card-subtitle>
          </li>
          <li class="detail-item">
            <span class="detail-label">Country </span>
            <mat-card-subtitle class="detail-value">{{companyDetails.addressId?.country}}</mat-card-subtitle>
          </li>
          <li class="detail-item">
            <span class="detail-label">State </span>
            <mat-card-subtitle class="detail-value">{{companyDetails.addressId?.state}}</mat-card-subtitle>
          </li>
          <li class="detail-item">
            <span class="detail-label">City </span>
            <mat-card-subtitle class="detail-value">{{companyDetails.addressId?.city}}</mat-card-subtitle>
          </li>
        </ul>
      </mat-card-content>
    </div>
    <div class="avatar-section">
      <input type="file" accept="image/*" #companyLogo style="display: none;" (change)="onCompanyPhoto($event)">
      <label (click)="openFileInput(companyLogo)" style="cursor: pointer;">
        <img src={{companyDetails.logo}} alt="" mat-card-avatar class="company-image" *ngIf="companyDetails.logo">
        <img src="../../../../assets/images/company-defaultLogo.png" alt="" mat-card-avatar class="company-image"
          *ngIf="!companyDetails.logo">
        <mat-card-subtitle *ngIf="companyDetails.logo" style="margin-left: -4%;">Change Logo</mat-card-subtitle>
        <mat-card-subtitle *ngIf="!companyDetails.logo" style="margin-left: 7px;">Add Logo</mat-card-subtitle>
      </label>
    </div>
  </div>
  <button mat-raised-button style="background-color: #644DFF; color: white;" *ngIf="userData.companyId"
    (click)="onEditCompany()">Edit Company Details</button>
  <br>
  <button mat-raised-button style="background-color: #644DFF; color: white;" *ngIf="userData.companyId"
    (click)="onAddCompany()">Add New Company</button>

</mat-card>
<br>