<app-employer-nav></app-employer-nav>

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="20px">
    <div class="message-list" fxFlex="100" fxFlex.xs="100%" [ngClass]="{'chats': showMessages}">
        <mat-card class="message-card">
            <mat-card-header>
                <mat-card-title>Messages</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <ng-container *ngFor="let chat of chats">
                <div class="username" style="cursor: pointer;" (click)="getMessages(chat._doc.participants[0]._id)">
                    <div>
                        <img src={{chat._doc.participants[0].image}} alt="" mat-card-avatar
                            class="example-header-image">
                    </div>
                    <div>
                        <mat-card-title class="chat-title">{{chat._doc.participants[0].firstName}}
                            {{chat._doc.participants[0].lastName}}</mat-card-title>
                        <div class="lastMessage">
                            <mat-card-subtitle>{{chat.lastMessage?.message}}</mat-card-subtitle>
                            <div class="last-message-time">
                                <mat-card-subtitle>{{chat.lastMessage?.time | customDate}}</mat-card-subtitle>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
            </ng-container>
        </mat-card>
    </div>

    <div class="message" fxFlex="100" fxFlex.xs="100%" [ngClass]="{'hide': showMessages}">

        <mat-card class="single-message-card" *ngIf="!showMessages">
            <div class="image-div">
                <img src="../../../../assets/images/66149.jpg" alt="Welcome Image" class="message-image">
                <mat-card-title>Welcome to Messages</mat-card-title>
                <mat-card-subtitle>When a jobseeker contacts you,
                    you will see messages here.</mat-card-subtitle>
            </div>
        </mat-card>

        <mat-card class="single-message-card" *ngIf="showMessages">

            <div class="username">
                <div>
                    <img src={{jobseekerDetails.image}} alt="" mat-card-avatar class="example-header-image">
                </div>
                <div>
                    <mat-card-title>{{jobseekerDetails.firstName}} {{jobseekerDetails.lastName}}</mat-card-title>
                </div>
            </div>
            <mat-divider></mat-divider>

            <div #chatContainer class="chat-container">
                <ng-container *ngFor="let message of messages;let i=index">
                    <span *ngIf="isNewDate(i)" class="date-separator">
                        {{ message.time | customDate }}
                    </span>
                    <mat-card class="messages" [ngClass]="{
                            'sent': message.senderId === employerId,
                            'received': message.senderId !== employerId
                        }">
                        {{ message.message }}
                        <mat-card-subtitle class="message-time">{{message.time | date: 'hh:mm a'}}</mat-card-subtitle>
                    </mat-card>
                </ng-container>
            </div>
            <mat-divider></mat-divider>
            <div class="message-input">
                <form [formGroup]="form" (ngSubmit)="sendMessage()">
                    <mat-form-field appearance="outline">
                        <mat-label>Write your message</mat-label>
                        <input matInput class="mat-Input" formControlName="message" type="text">
                    </mat-form-field>
                    <button mat-raised-button class="mat-raised-button" type="submit"
                        [disabled]="form.get('message')?.value == ''">Send</button>
                </form>
            </div>

        </mat-card>

    </div>
</div>