
  .container {
    display: flex;
    margin-left: 5%;
    margin-top: 2.06%;
  }
  
  .message-list {
    width: 30%;
  }

  .message-card{
    height: 570px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
  }

  .message{
    width: 64.5%;
  }

  .single-message-card{
    height: 570px;
    margin-left: 35px;
    border: 1px solid #ccc;
  }

  .image{
    text-align: center;
  }

  img {
    width: 300px;
    height: 220px;
    margin: 130px 0px 0px 0px;
}

.single-message-card {
  height: 570px;
  margin-left: 35px;
  border: 1px solid #ccc;
  border-radius: 0.8em;
}

.jobTitle{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.example-header-image {
  background-size: cover;
  height: 40px;
  width: 40px;
  margin: 10px 10px 10px 10px;
}
  
@media screen and (max-width:600px) {
  .message {
    display: none;
  }

  .message-list {
    width: 90%;
  }

  .container{
    margin-left: 0;
    justify-content: center;
  }


}

