<app-jobseeker-nav></app-jobseeker-nav>
<mat-card class="profile-card">
    <mat-card-header>
        <div class="left-content">
            <div class="name">
                <mat-card-title class="username">{{userData.firstName}} {{userData.lastName}}</mat-card-title>
            </div>
            <div class="details">
                <mat-card-subtitle><mat-icon>mail</mat-icon>{{userData.email}}</mat-card-subtitle>
                <mat-card-subtitle><mat-icon>phone</mat-icon>{{userData.phoneNumber}}</mat-card-subtitle>
                <mat-card-subtitle><mat-icon>place</mat-icon>{{userData.location}}</mat-card-subtitle>
            </div>
        </div>
        <div class="right-content">
            <input type="file" accept="image/*" #fileInput style="display: none;" (change)="onFileSelected($event)">
            <label class="avatar-container" (click)="openFileInput(fileInput)">
                <img src={{userData.image}} alt="" mat-card-avatar class="example-header-image" *ngIf="userData.image">
                <img src="../../../../assets/images/user-default-profile-pic.jpg" alt="" mat-card-avatar class="example-header-image" *ngIf="!userData.image">
                <mat-icon class="camera-icon">camera_alt</mat-icon>
            </label>
        </div>


    </mat-card-header>
    <br>
    <mat-card-header>
        <mat-card-title class="resume">Resume</mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content *ngIf="userData.resume">
        <mat-card class="resume-card">
            <div>
                <mat-icon style="color: #644DFF;">description</mat-icon>
            </div>
            <div style="flex-grow: 1;">
                <mat-card-title style="color: #644DFF;">
                    {{userData.firstName}}(Resume)
                </mat-card-title>
            </div>
            <div>
                <mat-icon style="margin-right: 10px; color:#644DFF; cursor: pointer;" (click)="showResume(userData.resume)">visibility</mat-icon>
                <mat-icon style="margin-right: 10px; color:#644DFF; cursor: pointer;" (click)="deleteResume()">delete</mat-icon>
            </div>
        </mat-card>
    </mat-card-content>
    <mat-card-content class="button-container" *ngIf="!userData.resume">
        <input type="file" accept="application/pdf" #resumeInput style="display: none;"
            (change)="onResumeSelected($event)">
        <button mat-raised-button class="resume-btn" (click)="openResumeInput(resumeInput)">Upload Resume</button>
    </mat-card-content>

    <br>
    <mat-card-header>
        <mat-card-title class="resume">Improve your job matches</mat-card-title>
    </mat-card-header>
    <br>
    <mat-divider></mat-divider>
    <br>
    <div class="qualification-div" routerLink="/jobseeker/qualifications">
        <div class="qualifications">
            <mat-card-title>Qualifications</mat-card-title>
            <mat-card-subtitle>Highlight your skills and experience.</mat-card-subtitle>
        </div>
        <div class="arrow-icon">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </div>
    </div>
    <br>
    <mat-divider></mat-divider>
    <br>
    <div class="qualification-div" routerLink="/jobseeker/job-preferences">
        <div class="qualifications">
            <mat-card-title>Job Preferences</mat-card-title>
            <mat-card-subtitle>Save specific details like minimum desired pay and schedule.</mat-card-subtitle>
        </div>
        <div class="arrow-icon">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </div>
    </div>
    <br>
    <mat-divider></mat-divider>
</mat-card>
<br>