.fill-remaining-space {
  flex: 1 1 auto;
}

button.mat-raised-button{
  background-color: #644DFF;
  color:white;
}

.active {
  color: #5e45ff; 
  background-color: #d4ceff;
}


@media (max-width: 600px) {
    .logo-text {
      font-size: smaller;
    }
  }
  
  @media (max-width: 600px) {
    .logo-image {
      width: 10%;
    }
  }

  mat-toolbar{
    background-color: white;
}

.logo-text{
    font-weight: 800;
}