.settings-card {
    width: 75%;
    height: 580px;
    margin: 25px auto;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 1.5em;
}

.title {
    font-size: x-large;
    margin-left: -10px;
}

.job-title{
    margin-left: 15px;
}

.jobs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.status-container {
    align-items: center;
    margin-right: 5%;
}

.right {
    display: flex;
    align-items: center;
}

.status {
    margin-right: 10px; /* Adjust as needed */
}

button.mat-raised-button{
    color: white;
    background-color: #644DFF;
}


@media screen and (max-width:600px) {
    .settings-card {
        width: 90%;
    }

    button.btn {
        width: 110px;
    }
}