.settings-card {
    width: 75%;
    height: 560px;
    margin: 37px auto;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 1.5em;
}

.title {
    font-size: x-large;
    margin-left: -10px;
}

.job-title {
    margin-left: 15px;
}

.jobs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.status-container {
    align-items: center;
    margin-right: 5%;
}

.right {
    display: flex;
    align-items: center;
}

.status {
    margin-right: 10px;
    /* Adjust as needed */
}

button.mat-raised-button {
    color: white;
    background-color: #644DFF;
}

.jobStatus-btn {
    margin-left: 5px;
    width: 90px;
}

.jobs-list {
    height: 470px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
}


@media screen and (max-width:600px) {
    .settings-card {
        width: 95%;
    }

    button.mat-raised-button {
        width: 90px;
        margin: 0px 0px 5px 5px;
    }
    .status{
        margin-left: 15px;
    }

}