<app-employer-nav></app-employer-nav>
<div class="sign-up">
  <app-employer-login-layout></app-employer-login-layout>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-card-title>
        Create An Account
      </mat-card-title>
      <mat-card-actions>
        <button mat-raised-button class="mat-large-fab2">
          <div class="button-content">
            <img src="../../../../assets/images/google-logo.jpg" alt="Google Logo" class="google-logo">
            <span>Continue with Google</span>
          </div>
        </button>
      </mat-card-actions>
      <mat-card-content>
        <div class="rounded-input">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput class="mat-Input" placeholder="" formControlName="firstName" type="text" required>
          </mat-form-field>
        </div>
        <div class="rounded-input">
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput class="mat-Input" placeholder="" formControlName="lastName" type="text" required>
          </mat-form-field>
        </div>
        <div class="rounded-input">
          <mat-form-field appearance="outline">
            <mat-label>Email ID</mat-label>
            <input matInput class="mat-Input" placeholder="" formControlName="email" type="email" required>
          </mat-form-field>
        </div>
        <div class="rounded-input">
          <mat-form-field appearance="outline">
            <mat-label>Mobile Number</mat-label>
            <input matInput class="mat-Input" placeholder="" formControlName="phoneNumber" type="tel" required>
          </mat-form-field>
        </div>
        <div class="rounded-input">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput class="mat-Input" placeholder="" formControlName="password" type="password" required>
          </mat-form-field>
        </div>
        <div class="rounded-input">
          <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput class="mat-Input" placeholder="" formControlName="confirmPassword" type="password" required>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="mat-large-fab1" type="submit">Continue</button>
      </mat-card-actions>
    </mat-card>
  </form>
  <div class="sign-in">
    <span>Already Registered?</span>
    <a routerLink="/employer/login">
      <p class="login">Login</p>
    </a>
  </div>
</div>
<app-employer-login-footer></app-employer-login-footer>