.container {
  display: flex;
  margin-left: 4.2%;
  margin-top: 2%;
}

.message-list {
  width: 30%;
}

.message-card {
  height: 570px;

  border: 1px solid #ccc;
  border-radius: 0.8em;
}

.message {
  width: 70%;
}

.single-message-card {
  height: 570px;
  width: 90%;
  margin-left: 36px;
  border: 1px solid #ccc;
  border-radius: 0.8em;
}

.image-div {
  text-align: center;
}

.message-image {
  width: 300px;
  height: 220px;
  margin: 130px 0px 0px 0px;
}

.username{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.example-header-image {
  background-size: cover;
  height: 40px;
  width: 40px;
  margin: 10px 10px 10px 10px;
}

.message-input{
  display: flex;
  flex-direction: row;
}

mat-form-field{
  width: 87%;
  margin: 10px 0px 10px 10px;
}

form{
  width: 100%;
  align-items: center;
}

button.mat-raised-button{
  height: 55%;
  width: 10%;
  margin: -1px 0px 0px 9px;
  background-color: #644DFF;
  color: white;
}

.chat-container {
  height: 500px;
  overflow-y:auto;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
}

.messages {
  padding: 10px;
  margin:5px 2px 5px 2px;
  border-radius: 10px;
  max-width: 60%;
  justify-content: right;
}

.sent {
  background-color: #b7acff; 
  align-self: flex-end; 
}

.received {
  background-color: #e2e2e2; 
  align-self: flex-start; 
}

.chat-title{
  font-size: medium;
}

.message-time{
  font-size: smaller;
}

.lastMessage{
  display: flex;
  flex-direction: column;
}

.date-separator {
  text-align: center;
  font-weight:500; 
  padding: 10px;
  margin: 10px 0; 
  color: #0e0068;
}

@media screen and (max-width:600px) {
  .single-message-card{
    margin: 10px auto;
  }
  .message-card{
    margin-top: 10px;
  }
  .message {
    width: 100%;
    display: none;
    margin: 0;
  }
  .message-list {
    width: 90%;
  }

  .container{
    margin-left: 0;
    justify-content: center;
  }

  .chats{
    display: none;
  }

  .hide{
    display: flex;
  }

  .message-input{
    display: flex;
    flex-direction: row;
  }
  
  mat-form-field{
    width: 75%;
    margin: 10px 3px 10px 10px;
  }

  button.mat-raised-button{
    margin: 0;
  }



}