<app-jobseeker-nav></app-jobseeker-nav>
<mat-card class="profile-card">
    <button mat-button class="previous-btn" routerLink="/jobseeker/profile">
        <mat-icon style="font-size: x-large; margin-top: -4px;">navigate_before</mat-icon>
    </button>
    <mat-card-header class="job-preferences">
        <mat-card-title>Job Preferences</mat-card-title>
        <mat-card-subtitle>Tell us the job details you're interested in to get better recommendations across careervilla.</mat-card-subtitle>
    </mat-card-header>
    <br>
    <mat-divider></mat-divider>
</mat-card>
<br>