<app-jobseeker-nav></app-jobseeker-nav>
<mat-card class="profile-card">
    <button mat-button class="previous-btn" routerLink="/jobseeker/profile">
        <mat-icon style="font-size: x-large; margin-top: -4px;">navigate_before</mat-icon>
    </button>
    <mat-card-header class="job-preferences">
        <mat-card-title>Job Preferences</mat-card-title>
        <mat-card-subtitle>Tell us the job details you're interested in to get better recommendations across Careervilla.</mat-card-subtitle>
    </mat-card-header>
    <br>
    <mat-divider></mat-divider>
    <br>
    <div class="user-details">
        <div style="flex-grow: 1;">
            <mat-card-title><mat-icon>person</mat-icon> Add job titles</mat-card-title>
        </div>
        <div>
            <mat-icon>add</mat-icon>
        </div>
    </div>
    <br>
    <mat-divider></mat-divider>
    <br>
    <div class="user-details">
        <div style="flex-grow: 1;">
            <mat-card-title><mat-icon>work</mat-icon> Add job types</mat-card-title>
        </div>
        <div>
            <mat-icon>add</mat-icon>
        </div>
    </div>
    <br>
    <mat-divider></mat-divider>
    <br>
    <div class="user-details">
        <div style="flex-grow: 1;">
            <mat-card-title><mat-icon>account_balance_wallet</mat-icon> Add pay</mat-card-title>
        </div>
        <div>
            <mat-icon>add</mat-icon>
        </div>
    </div>
    <br>
    <mat-divider></mat-divider>
    <br>
</mat-card>
<br>