.container {
    display: flex;
    margin-top: 3%;
    justify-content: center;
}

.title {
    flex-grow: 1;
}

mat-card-header {
    align-items: center;
}

mat-select {
    width: 200px;
}

mat-card-title {
    font-size: 24px;
}

.job-title-card {
    border: 1px solid #ccc;
    height: 50px;
    margin: 10px 50px 0px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #c0c0fa;
}

.selectedJob {
    justify-content: center;
}

.candidates-card {
    width: 80%;
    height:560px;
    border-radius: 1em;
    border: 1px solid #ccc;
}

img {
    width: 400px;
    height: 280px;
    margin: 70px 0px 0px 0px;
}

.right {
    margin-right: 10px;
    gap: 10px;
}

.candidates-list {
    margin: 10px auto;
    width: 90%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 20px;
    height: 400px;
    overflow-y: auto;
    flex-direction: column;
    scrollbar-width: none;
}

.candidate-card {
    border: 1px solid #ccc;
}

.example-header-image {
    background-size: cover;
    height: 90px;
    width: 90px;
    margin: 38px 15px 0px 0px;
}

.jobApplication {
    display: flex;
}

.selected {
    background-color: #e2ddff;
}

@media screen and (max-width:950px) {
    .candidates-card {
        width: 95%;
    }

    mat-card-header {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .job-title-card {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px;
        height: 60px;
    }

    .candidates-list {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    img {
        width: 250px;
        height: 170px;
    }

    .selected{
        display: none;
    }

}