.myJobs-card {
    width: 70%;
    height: 580px;
    margin: 25px auto;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 1.5em;
}

.title {
    font-size: x-large;
    margin-left: -10px;
}

.job-categories {
    display: inline-flex;
    margin-left: 6px;
}

.job-categories span {
    font-size: larger;
    font-weight: 500;
    cursor: pointer;
    margin-right: 40px;
    color: #000000;
}

button.btn {
    background-color: #644DFF;
    color: white;
    width: 165px;
}

.jobs {
    display: flex;
    align-items: center;
}

.job-title {
    flex-grow: 1;
}

mat-card-title{
    cursor: pointer;
    margin-left: 10px;
}

.message{
    display: flex;
    flex-direction: row;
    margin: 3px 0px 0px 12px;
    cursor: pointer;
}

.message mat-card-subtitle{
    color: #644DFF;
}

button.mat-raised-button{
    background-color: #644DFF;
    color: white;
}

@media screen and (max-width:600px) {
    .myJobs-card {
        width: 90%;
    }

    button.btn {
        width: 110px;
    }
}