<mat-card class="footer-card">
    <div fxLayout="row" fxLayoutAlign="space-between" class="footer-content">
      <!-- Left side content -->
      <div class="left-content">
        <span>Non IT Jobs</span>
        <mat-divider></mat-divider>
        <span>IT Jobs</span>
        <mat-divider></mat-divider>
        <span>Employers</span>
        <mat-divider></mat-divider>
        <span>Jobseekers</span>
        <mat-divider></mat-divider>
      </div>
  
      <!-- Right side content -->
      <div class="right-content">
        <span>Email: info@careervilla.com</span>
        <mat-divider></mat-divider>
        <span>Toll No: +91-40-66116611   |   Toll Free No: 1-800-4196666</span>
        <mat-divider></mat-divider>
        <span>Stay Connected</span>
        <mat-divider></mat-divider>
        <span>&copy; 2024 CAREERVILLA | All rights Reserved</span>
        <mat-divider></mat-divider>

      </div>
    </div>
  </mat-card>
  